################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/packages/Ninject.3.2.2.0
/bin/Debug
